version: '3.8'

services:
  # 1. API Gateway
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: api-gateway
    container_name: api-gateway
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=postgresql://postgres:12345678@localhost:5435/user_service_app_edu?schema=public
      - API_GATEWAY_PORT=3000
    depends_on:
      - postgres
    networks:
      - app-network

  # 2. Analytics Service
  analytics:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: analytics
    container_name: analytics
    ports:
      - '3002:3002'
    environment:
      - DATABASE_URL=postgresql://postgres:12345678@localhost:5435/user_service_app_edu?schema=public
      - ANALYTICS_SERVICE_PORT=3002
    depends_on:
      - postgres
    networks:
      - app-network

  # 3. Storage Service
  storage:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: storage
    container_name: storage
    ports:
      - '3003:3003'
    environment:
      - DATABASE_URL=postgresql://postgres:12345678@localhost:5435/user_service_app_edu?schema=public
      - PORT=3003
    depends_on:
      - postgres
    networks:
      - app-network

  # Database (Ví dụ dùng Postgres)
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - '5435:5435'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
