version: '3.8'

services:
  # 1. API Gateway
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: api-gateway
    image: ${DOCKER_USERNAME}/api-gateway:latest
    container_name: api-gateway
    restart: always
    # QUAN TRỌNG: Chỉ bind vào 127.0.0.1 để không lộ ra internet, chỉ Nginx Host mới gọi được
    ports:
      - '127.0.0.1:${API_GATEWAY_PORT}:${API_GATEWAY_PORT}'
    env_file:
      - .env
    networks:
      - app-network

  # 2. Inventory Service
  inventory:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: inventory
    image: ${DOCKER_USERNAME}/inventory:latest
    container_name: inventory
    restart: always
    ports:
      - '127.0.0.1:${INVENTORY_PORT_GRPC}:${INVENTORY_PORT_GRPC}'
    env_file:
      - .env
    networks:
      - app-network

  # 3. Order Service
  order:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: order
    image: ${DOCKER_USERNAME}/order:latest
    container_name: order
    restart: always
    ports:
      - '127.0.0.1:${ORDER_PORT_GRPC}:${ORDER_PORT_GRPC}'
    env_file:
      - .env
    networks:
      - app-network

  # 4. Product Service
  product:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: product
    image: ${DOCKER_USERNAME}/product:latest
    container_name: product
    restart: always
    ports:
      - '127.0.0.1:${PRODUCT_PORT_GRPC}:${PRODUCT_PORT_GRPC}'
    env_file:
      - .env
    networks:
      - app-network

  # 5. Product Service
  user:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: user
    image: ${DOCKER_USERNAME}/user:latest
    container_name: user
    restart: always
    ports:
      - '127.0.0.1:${USER_PORT_GRPC}:${USER_PORT_GRPC}'
    env_file:
      - .env
    networks:
      - app-network
  kafka:
    image: apache/kafka:latest
    container_name: kafka-kraft
    ports:
      - '9092:9092' # Port cho Host (NestJS bên ngoài)
    environment:
      # --- CẤU HÌNH KRAFT (KHÔNG CẦN ZOOKEEPER) ---
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

      # --- CẤU HÌNH MẠNG (QUAN TRỌNG) ---
      # Định nghĩa 3 loại Listener:
      # 1. CONTROLLER: Giao tiếp nội bộ controller
      # 2. INTERNAL: Giao tiếp trong mạng Docker (Kafka UI, Microservices in Docker)
      # 3. EXTERNAL: Giao tiếp với máy Host (NestJS chạy local)
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'

      # Lắng nghe ở đâu?
      KAFKA_LISTENERS: 'INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093'

      # Quảng bá địa chỉ nào cho Client?
      # - Nếu Client ở trong Docker (Kafka UI) -> Hãy gọi 'kafka:29092'
      # - Nếu Client ở ngoài (NestJS local) -> Hãy gọi 'localhost:9092'
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://kafka:29092,EXTERNAL://localhost:9092'

      # Listener nào dùng để giao tiếp giữa các Broker (nếu có cluster)
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'

      # --- CẤU HÌNH DEV (GIẢM TẢI) ---
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - '8080:8080'
    environment:
      KAFKA_CLUSTERS_0_NAME: local-kraft
      # Kafka UI nằm chung mạng Docker nên dùng port INTERNAL (29092)
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: PLAINTEXT
networks:
  app-network:
    driver: bridge
