global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  1m
    timeout server  1m

# --- TRANG THỐNG KÊ ---
listen stats
    bind *:8404
    stats enable
    stats uri /monitor
    stats auth admin:123456

# --- CỔNG CHÍNH ---
frontend redis-frontend
    bind *:6379
    default_backend redis-backend

# --- LOGIC BACKEND ---
backend redis-backend
    mode tcp
    balance first
    option tcp-check

    # 👇 SỬA MẬT KHẨU Ở ĐÂY
    tcp-check send AUTH\ 12345678\r\n
    
    tcp-check expect string +OK
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master

    server node0 infra_redis-node-0:6379 check inter 5s resolvers docker_resolver
    server node1 infra_redis-node-1:6379 check inter 5s resolvers docker_resolver
    server node2 infra_redis-node-2:6379 check inter 5s resolvers docker_resolver

resolvers docker_resolver
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

