name: CI/CD

on:
  push:
    branches: ['production']

jobs:
  deploy-infra:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Infrastructure
        env:
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
        run: |
          chmod +x scripts/init-swarm.sh
          ./scripts/init-swarm.sh

  # JOB 1: BUILD & PUSH (Chạy trên Cloud Ubuntu của GitHub)
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service: [api-gateway, inventory, order, product, user, payment, search]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.service }}
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest
          build-args: |
            APP_NAME=${{ matrix.service }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # JOB 2: DEPLOY (Chạy trên máy EC2 của bạn - Self-hosted)
  deploy:
    needs: build-and-push
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Microservices
        run: |
          # 2. Tạo file .env chứa cấu hình
          cat <<EOF > .env
          # --- Variable dùng cho cấu hình YAML ---
          DOCKER_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}

          # ======================================================
          # 1. CẤU HÌNH POSTGRES (3 Database riêng biệt)
          # ======================================================
          # Tất cả đều trỏ về 'infra_pg-master' để GHI dữ liệu
          # Port: 5432
          DATABASE_URL_USER="postgresql://postgres:12345678@infra_pg-master:5432/ecommerce_db_user?schema=public"
          DATABASE_URL_INVENTORY="postgresql://postgres:12345678@infra_pg-master:5432/ecommerce_db_inventory?schema=public"
          DATABASE_URL_ORDER="postgresql://postgres:12345678@infra_pg-master:5432/ecommerce_db_order?schema=public"
          DATABASE_URL_PAYMENT="postgresql://postgres:12345678@infra_pg-master:5432/ecommerce_db_payment?schema=public"

          # ======================================================
          # 2. CẤU HÌNH REDIS SENTINEL (High Availability)
          # ======================================================
          # Thay vì REDIS_HOST, ta khai báo danh sách Sentinels
          # Lưu ý: Port của Sentinel là 26379
          REDIS_SENTINELS="infra_redis-sentinel-0:26379,infra_redis-sentinel-1:26379,infra_redis-sentinel-2:26379"

          # Tên nhóm Master (Phải khớp với file redis-stack.yml)
          REDIS_MASTER_NAME="mymaster"

          # Password để App xác thực với Redis
          REDIS_PASSWORD="${{ secrets.REDIS_PASSWORD }}"

          # ======================================================
          # 3. CẤU HÌNH MONGODB (Replica Set)
          # ======================================================
          MONGO_URI="mongodb://infra_mongo-node-0:27017,infra_mongo-node-1:27017,infra_mongo-node-2:27017/ecommerce_db?replicaSet=rs0"

          # ======================================================
          # 4. AWS & PORTS (Giữ nguyên)
          # ======================================================
          AWS_BUCKET_ACCESS_KEY="${{ secrets.AWS_BUCKET_ACCESS_KEY }}"
          AWS_BUCKET_NAME="${{ secrets.AWS_BUCKET_NAME }}"
          AWS_BUCKET_SECRET_KEY="${{ secrets.AWS_BUCKET_SECRET_KEY }}"
          AWS_REGION_ID="${{ secrets.AWS_REGION_ID }}"

          AWS_CLOUDFRONT_KEY_PAIR_ID="${{ secrets.AWS_CLOUDFRONT_KEY_PAIR_ID }}"
          AWS_CLOUDFRONT_PRIVATE_KEY="${{ secrets.AWS_CLOUDFRONT_PRIVATE_KEY }}"
          AWS_CLOUDFRONT_S3_DOMAIN="${{ secrets.AWS_CLOUDFRONT_S3_DOMAIN }}"

          API_GATEWAY_PORT=3000
          USER_PORT_GRPC=50051
          PRODUCT_PORT_GRPC=50052
          ORDER_PORT_GRPC=50053
          INVENTORY_PORT_GRPC=50054

          USER_SERVICE_PORT=3007
          PRODUCT_SERVICE_PORT=3002
          ORDER_SERVICE_PORT=3003
          INVENTORY_SERVICE_PORT=3004
          EOF

          # 3. Export biến môi trường cho Shell hiện tại
          export DOCKER_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}

          # 4. Pull & Deploy
          docker compose pull
          docker stack deploy -c docker-compose.yml microservices --with-registry-auth
          docker system prune -f
