name: CI/CD Hybrid 3 Apps

on:
  push:
    branches: ['production']

jobs:
  # JOB 1: BUILD & PUSH (Chạy trên Cloud Ubuntu của GitHub)
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Danh sách 3 app cần build (tên này phải trùng với tên folder trong source code)
        service: [api-gateway, analytics, storage]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build và Push từng service theo danh sách matrix ở trên
      - name: Build and push ${{ matrix.service }}
        uses: docker/build-push-action@v5
        with:
          context: . # Quan trọng: Context là root để thấy file chung
          file: ./Dockerfile # Dùng Dockerfile chung
          push: true
          # Đặt tên ảnh theo format: username/tên-service:latest
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest
          # Truyền biến APP_NAME vào để Dockerfile biết đang build app nào
          build-args: |
            APP_NAME=${{ matrix.service }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # JOB 2: DEPLOY (Chạy trên máy EC2 của bạn - Self-hosted)
  deploy:
    needs: build-and-push
    runs-on: self-hosted # <--- Chạy trực tiếp trên EC2
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        # Bước này sẽ tải file docker-compose.yml mới nhất về máy EC2

      - name: Deploy 3 Apps
        run: |
          # 1. Tạo file .env động
          # DOCKER_USERNAME cần thiết để file compose biết tải ảnh từ đâu
          echo "DOCKER_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}" > .env
          echo "DATABASE_URL_USER=\"${{ secrets.DATABASE_URL_USER }}\"" >> .env
          echo "DATABASE_URL_INVENTORY=\"${{ secrets.DATABASE_URL_INVENTORY }}\"" >> .env
          echo "DATABASE_URL_ORDER=\"${{ secrets.DATABASE_URL_ORDER }}\"" >> .env
          echo "REDIS_HOST=\"${{ secrets.REDIS_HOST }}\"" >> .env
          echo "MONGO_URI=\"${{ secrets.MONGO_URI }}\"" >> .env
          echo "AWS_BUCKET_ACCESS_KEY=\"${{ secrets.AWS_BUCKET_ACCESS_KEY }}\"" >> .env
          echo "AWS_BUCKET_NAME=\"${{ secrets.AWS_BUCKET_NAME }}\"" >> .env
          echo "AWS_BUCKET_SECRET_KEY=\"${{ secrets.AWS_BUCKET_SECRET_KEY }}\"" >> .env
          echo "AWS_CLOUDFRONT_KEY_PAIR_ID=\"${{ secrets.AWS_CLOUDFRONT_KEY_PAIR_ID }}\"" >> .env
          echo "AWS_CLOUDFRONT_PRIVATE_KEY=\"${{ secrets.AWS_CLOUDFRONT_PRIVATE_KEY }}\"" >> .env
          echo "AWS_CLOUDFRONT_S3_DOMAIN=\"${{ secrets.AWS_CLOUDFRONT_S3_DOMAIN }}\"" >> .env
          echo "AWS_REGION_ID=\"${{ secrets.AWS_REGION_ID }}\"" >> .env
          echo "API_GATEWAY_PORT=${{ secrets.API_GATEWAY_PORT }}" >> .env
          echo "STORAGE_SERVICE_PORT=${{ secrets.STORAGE_SERVICE_PORT }}" >> .env
          echo "ANALYTICS_SERVICE_PORT=${{ secrets.ANALYTICS_SERVICE_PORT }}" >> .env
          echo "USER_PORT_GRPC=${{ secrets.USER_PORT_GRPC }}" >> .env
          echo "PRODUCT_PORT_GRPC=${{ secrets.PRODUCT_PORT_GRPC }}" >> .env
          echo "ORDER_PORT_GRPC=${{ secrets.ORDER_PORT_GRPC }}" >> .env
          echo "INVENTORY_PORT_GRPC=${{ secrets.INVENTORY_PORT_GRPC }}" >> .env

          # 2. Pull images (Tải cả 3 ảnh api-gateway, analytics, storage về)
          # Vì trong docker-compose.yml bạn đã khai báo 3 service này
          docker compose pull

          # 3. Khởi động lại hệ thống
          # -d: chạy ngầm
          # --remove-orphans: xóa các container rác không còn trong file config
          docker compose up -d --remove-orphans

          # 4. Dọn dẹp image cũ để giải phóng ổ cứng
          docker system prune -f
